<% provide(:title, @user.name) %>
<h1><%= @user.name %>のタスク一覧</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="task-new-btn">
      <%= link_to "タスク新規作成", new_user_task_path, class: "btn btn-lg btn-primary" %>
    </div>
    <table class="table task-table">
      <thead>
        <tr>
          <th class="col-md-4"><div>名称</div></th>
          <th class="col-md-5"><div>作成日</div></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>
          <% if task.user_id == @user.id %>
            <tr>
              <td><div><%= link_to task.title, user_task_path(@user, task), class: "task-title" %></div></td>
              <td><div><%= l(task.created_at, format: :long) %></div></td>
              <td>
                <div>
                  <%= link_to "編集", edit_user_task_path(@user, task), class: "btn btn-success" %>
                  <%= link_to "削除", user_task_path(@user, task), method: :delete, class: "btn btn-danger" %>
                </div>
              </td>
            </tr>      
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
